body {
  background-color: #eee;
}

$dataTableBackgroundHover: #f5f5f5;
.data-table {
  width: 100%;
  overflow: scroll;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  font-size: 0.875rem;
  text-align: left;
  border-spacing: 0;

  &>tbody>tr>td, &>tfoot>tr>td, &>thead>tr>th{
    box-sizing: border-box;
    height: 50px;
    padding: 0 20px;
    border: none;
    border-top: 1px solid #ddd;
    word-break: break-all;
    vertical-align: middle;
  }

  &>thead>tr>th {
    border-top: 0;

  }

  .sort {
    &-default{
      background: url(//cdn.genedock.com/img/table/sort_both.png) center right no-repeat;
      cursor: pointer;
    }

    &-asc {
      background: url(//cdn.genedock.com/img/table/sort_asc.png) center right no-repeat;
      cursor: pointer;
    }

    &-desc {
      background: url(//cdn.genedock.com/img/table/sort_desc.png) center right no-repeat;
      cursor: pointer;
    }
  }


}

.data-table-hover {
  & > tbody > tr:hover {
    background-color: $dataTableBackgroundHover;
  }
}


.data-table-pagination {
  list-style: none;
  display: inline-block;
  position: relative;
  background: #fff;
  margin: 0;
  padding: 0;
  /*禁用选择防止点击翻页按钮过快的时候选中按钮内文字*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .pagination-button {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    float: left;
    color: #ccc;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

    &.previous,&.next{
      border: 1px solid #ccc;
    }

    &.active {
      background: #7a6cb0;
      color: #fff;
    }

    &:hover {
      background: #7a7ca0;
      color: #fff;
    }

  }
}
